@import './variables.scss';
.appointmentsection{
    background-image: linear-gradient(315deg,  #12100e 0%, #2b4162 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.appointmentform{
    width: 80%;
}
.formrows{
    display: flex;
    justify-content: space-evenly;
}
.appointmentheading{
    font-size: 35px;
    color: $primary-color;
    font-weight: 500;
    padding-bottom: 50px;
}
.submitbutton{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary-color;
    color: $primary-color !important;
  }
  .submitbutton:hover{
    background-color: $primary-color;
    color: white !important;
  }
  