@import './variables.scss';
.appointmentsection{
    background-image: linear-gradient(255deg,  #12100e 0%, #04274e 94%);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px 0;
    justify-content: center;
}
.appointmentscheduledsection{
  background-image: linear-gradient(255deg,  #12100e 0%, #04274e 94%);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    padding: 10px 0;
    justify-content: center;
}
.appointmentform{
    width: 80%;
   
}
.formrows{
    display: flex;
    justify-content: space-evenly;
}
.appointmentheading{
    font-size: 35px;
    color: $primary-color;
    font-weight: 500;
    padding-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    
}
.bookappointmentimage{
  height: 50px !important;
  width: 50px !important;
  margin: 10px;
}
.submitbutton{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary-color;
    color: $primary-color !important;
  }
  .submitbutton:hover{
    background-color: $primary-color !important;
    color: white !important;
  }
  .nextbtn{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    margin-top: 30px;
    // border: 2px solid white;
    font-weight: bold;
    padding: 18px 14px;
    border-radius: 17px;
  }
  .nextbtn:hover{
    background-color: white !important;
    color: $primary-color !important;
  }
  .actionbtndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .inputfield{
    // background: linear-gradient(to right, #12100e, #2b4162) !important;
    border: none; 
    
    color: black !important;
    height: 30px  !important;
  }
  .selectdoc{
    height: fit-content !important;
  }
  .appointmentformdiv{
    width: 60%;
  }
  .appointmentleftsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background: #032146;
// border-radius: 16px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
// backdrop-filter: blur(5px);
// -webkit-backdrop-filter: blur(5px);
// border: 2px solid $primary-color;
height: 80%;
overflow: hidden; 
z-index: 0;
border-radius: 10px;
  }
.appointmentleftsection:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
	width: 99999px;
	height: 99999px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: conic-gradient(rgba(255, 255, 255, 0.6), #00aac1, rgba(0,0,0,0) 65%);
	animation: rotate 3s linear infinite;
}

.appointmentleftsection:after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 5px;
	top: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: hwb(212 11% 59%);
	border-radius: 7px;
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

  .appointmentrightsection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media(max-width:834px){
   .appointmentleftsection{
    height:fit-content;
   }
   .appointmentrightsection{
    padding-bottom: 25px;
   }
   .appointmentheading{
    font-size: 22px;
    padding-bottom: 15px;
    margin-top: 15px;
   }
   .appointmentform{
    width: 100%;
   }
   .appointmentformdiv{
    width: 90%;
   }
  }
  .confirmationsymbol{
    color:$primary-color;
    font-size: 55px;
    display: flex;
    justify-content: center;

  }
  .confirmationheading{
    color:white;
    font-size: 30px;
    padding: 15px 0 5px 0;
    text-align: center;
  }
  .confirmationsubheading{
    color:white;
    font-size: 20px;
    padding: 5px 0;
    text-align: center;

  }
  .confirmationbox {
    border: 1px dotted white; 
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    margin: 20px 0;
    background: rgba(0, 0,0, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 170, 193, 0.2);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
height: 80%;
width: 70%;
  }
  .confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .appointmentdetailcol{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .appointmentdetailheading{
   color: $primary-color;
   font-size: 20px;
  }
  .appointmentdetailvalue{
    color: white;
    font-size: 16px;
    padding: 5px 0;
   }
   @media (max-width:834px){
    .confirmation{
      flex-direction: row;
    }
    .appointmentsection{
      height: 50vh;
  }
   }
   @media (max-width:576px){
    .appointmentdetailcol{
      padding: 5px
    }
    .appointmentsection{
      height: 60vh;
  }
  .confirmationheading{
    font-size: 22px;
  }
  .confirmationsubheading{
    font-size: 16px;
    padding: 0 15px;
  }
   }
