@import './variables.scss';
.appointmentsection{
    background-image: linear-gradient(315deg,  #12100e 0%, #2b4162 74%);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: max-content;
}
.appointmentform{
    width: 80%;
   
}
.formrows{
    display: flex;
    justify-content: space-evenly;
}
.appointmentheading{
    font-size: 35px;
    color: $primary-color;
    font-weight: 500;
    padding-bottom: 50px;
    margin-top: 50px;
}
.submitbutton{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary-color;
    color: $primary-color !important;
  }
  .submitbutton:hover{
    background-color: $primary-color;
    color: white !important;
  }
  .nextbtn{
    padding: 14px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    margin-top: 30px;
  }
  .actionbtndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media(max-width:834px){
    .appointmentsection{
        height: 50vh;
    }
  }
  @media (max-width:576px){
    .appointmentsection{
        height: 60vh;
    }
  }