@import './variables.scss';
.heroleftsection {

}
.herorow{
     width: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
}
.heroheading{
  color: $primary-color;
  font-size: 58px;
  font-weight: bold;
  padding: 15px 0;
  
}
.herosubheading{
  font-size: 20px;
  color: white;
  line-height: 1.5;
}
.healthtext {
    color: white;
  }
  .fixtext{
    color:$primary-color;
    
  }
  .fixhealthtext{
    font-weight: bold;
  }
.hero{
    background-color: #2b4162;
    background-image: url('/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.heroleftsection{
    padding-bottom: 50px;
}
@media(max-width:$mobile-screen){
    .heroheading{
        font-size: 25px;
    }
    .herosubheading{
        font-size: 12px;
    }
    .heroleftsection{
        padding-bottom: 20px;
    }
    .herorow{
        padding: 10px;
    }
}