.ant-carousel{
    display: flex;
    justify-content: center;
}
.slick-slide    div{
     display: flex !important;
     justify-content: center;
    }
    .ant-form-item-required,.ant-form-item-label label{
        font-size: 18px !important;
        color:#00AAC1 !important;
    }
.loaderstyle{
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
    height:100vh;
}
.ant-select-selector{
    background: linear-gradient(to right, #12100e, #2b4162) !important;
    color: white !important;
    border: 1px solid aqua !important;
}
.ant-select-arrow{
    color:#00AAC1 !important;
}